* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body {*/
/*    font-family: -apple-system, "GOST type B", 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;*/
/*    background: linear-gradient(135deg, #8396e8 0%, #a779d7 100%);*/
/*    color: #2d3748;*/
/*    line-height: 1.6;*/
/*    min-height: 100vh;*/
/*    padding: 30px 20px;*/
/*}*/

body {
    background: #f8f9fa;
    font-family: 'GOST type B', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    min-width: 1350px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1900px;
    min-width: 1360px;

}
.navbar {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand, .nav-link {
    color: white !important;
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.3rem;
}

.nav-link {
    position: relative;
    padding: 0.5rem 1rem !important;
    margin: 0 0.2rem;
    border-radius: 8px;
    transition: all 0.3s;
}

.nav-link:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: translateY(-1px);
}

.nav-link.active {
    background: rgba(255, 255, 255, 0.2);
    font-weight: 500;
}

.nav-link i {
    margin-right: 6px;
    font-size: 0.9rem;
}

.me-auto {
    margin: auto;
}

.user-menu {
    display: flex;
    align-items: center; /**/
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
}

.user-menu i {
    margin-right: 8px;
    font-size: 1rem;
}

.user-name {
    margin-right: 12px;
    font-weight: 500;
}

.main-content {
    flex: 1;
    padding: 20px 0;
}

.footer {
    background: white;
    padding: 10px 0;
    margin-top: auto;
    border-top: 1px solid #e0e0e0;
    color: #6c757d;
}

@media (max-width: 768px) {
    .navbar-nav {
        margin-top: 10px;
    }

    .user-menu {
        margin-top: 10px;
        justify-content: space-between;

    }
}

.mb-4 {
    text-align: justify;
}

p {
    text-align: justify;
}