{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4 mb-4" style="text-align: center">Добро пожаловать <br>в учебный портал!</h1>
            <p class="lead mb-5" style="text-align: center">Платформа для изучения программирования и решения задач</p>

            <div class="row mt-5">
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Ученикам</h5>
                            <p class="card-text">Решайте задачи, отслеживайте прогресс, соревнуйтесь с
                                одноклассниками</p>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <a href="{% url 'student_register' %}"
                                       class="btn btn-secondary">Зарегистрироваться</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="{% url 'login' %}" class="btn btn-primary">Войти</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Учителям</h5>
                            <p class="card-text">Создавайте задачи, следите за успеваемостью учеников</p>
                            <a href="{% url 'login' %}" class="btn btn-primary">Войти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}