{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'task_description_app/css/task_description.css' %}">
{% endblock %}

{% block content %}

    <h1>Доступные задачи</h1>

    <div class="task-grid">
        {% for task in tasks %}
            <div class="task-card" onclick="location.href='{% url 'tasks:task_detail' task.id %}'">
                <h3>{{ task.title }}</h3>
                <p class="task-id">ID: {{ task.id }}</p>
                <p>{{ task.description|truncatewords:20 }}</p>
            </div>
        {% empty %}
            <p>Нет доступных задач</p>
        {% endfor %}
    </div>

{% endblock %}